@(userForm: Form[models.User])
<!DOCTYPE html>

<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.css")">
    </head>
    <body>
	    <div class="row">
	      <div style="text-align:center;" class="large-12 columns">
			<h3>Support the causes you believe in without feeling trapped by them.</h3>
			<h3>Let us handle the automation for you.</h3>
			<img src="@routes.Assets.at("images/bseendesign2.jpg")"/>
	      </div>
	    </div>
	    <div class="row">
	      <div class="large-12 columns">
			@helper.form(action = routes.Incoming.submitForm) {
		        <div class="row">
			        <div class="large-6 medium-6 columns">
						  @helper.inputText(userForm("prefix"))
						  @helper.inputText(userForm("firstname"))
						  @helper.inputText(userForm("lastname"))
						  @helper.inputText(userForm("email"))   
			    	</div>
		        	<div class="large-6 medium-6 columns">
						  @helper.inputText(userForm("address1"))
						  @helper.inputText(userForm("city"))
						  @helper.inputText(userForm("state"))
						  @helper.inputText(userForm("zip")) 
		        	</div>      
				</div>
				<button class="btn btn-primary btn-block">Submit</button>
			}		
	      </div>
	    </div> 
    </body>
</html>