@import views.html.helper._
<!DOCTYPE html>

<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.css")">
    </head>
    <body>
	    <div class="row">
	      <div style="text-align:center;" class="large-12 columns">
			<h3>Support the causes you believe in without feeling trapped by them.</h3>
			<h3>Let us handle the automation for you.</h3>
			<img src="@routes.Assets.at("images/bseendesign2.jpg")"/>
	      </div>
	    </div>
	    <div class="row">
			<p>Thanks for signing up. To get started, forward emails to wampum.io that you would like to have filled out.</p>
	    </div> 
    </body>
</html>